## <span style="color:pink">Import libraries</span>

In [2]:
import pandas as pd
import numpy as np

## <span style="color:pink">Reading datasets</span>

In [3]:
meta_clean = pd.read_excel('/Users/juliansmissaert/Desktop/AI METHODS PROJECT/metaClean.xlsx')
meta_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11364 entries, 0 to 11363
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   url        11364 non-null  object
 1   title      11364 non-null  object
 2   studio     11014 non-null  object
 3   rating     10297 non-null  object
 4   runtime    11109 non-null  float64
 5   cast       7662 non-null   object
 6   director   11350 non-null  object
 7   genre      11344 non-null  object
 8   summary    5467 non-null   object
 9   awards     4387 non-null   object
 10  metascore  11364 non-null  int64
 11  userscore  9259 non-null   float64
 12  RelDate    11364 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 1.1+ MB

In [4]:
sales = pd.read_excel('/Users/juliansmissaert/Desktop/AI METHODS PROJECT/sales.xlsx')
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30612 entries, 0 to 30611
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      30612 non-null  int64
 1   release_date              30612 non-null  object
 2   title                     30604 non-null  object
 3   genre                     28908 non-null  object
 4   international_box_office  21575 non-null  float64
 5   domestic_box_office       11884 non-null  float64
 6   worldwide_box_office      21575 non-null  float64
 7   production_budget         4480 non-null   float64
 8   Unnamed: 8                0 non-null      float64
 9   opening_weekend           10929 non-null  float64
 10  theatre_count             10963 non-null  float64
 11  avg run per theatre       10952 non-null  float64
 12  runtime                   24559 non-null  float64
 13  keywords                  12517 non-null  object
 14  creative_type             26667 non-null  object
 15  url                       30612 non-null  object
dtypes: float64(9), int64(1), object(6)
memory usage: 3.7+ MB

In [5]:
# Filter movies with worldwide box office revenue above $100 million
high_revenue_movies = sales[sales['worldwide_box_office'] > 100000000]

# Count the number of movies
num_high_revenue_movies = len(high_revenue_movies)

# Print the result
print(f"Number of movies with revenue above $100 million: {num_high_revenue_movies}")

Number of movies with revenue above $100 million: 1312

In [6]:
# Count the number of movies with non-null worldwide box office sales
num_movies_with_sales = sales['worldwide_box_office'].notnull().sum()

# Print the result
print(f"Number of movies with worldwide box office sales: {num_movies_with_sales}")

Number of movies with worldwide box office sales: 21575

In [7]:
user_reviews = pd.read_excel('/Users/juliansmissaert/Desktop/AI METHODS PROJECT/userReviews.xlsx')
user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319662 entries, 0 to 319661
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   url        319662 non-null  object
 1   idvscore   316258 non-null  object
 2   reviewer   316255 non-null  object
 3   dateP      316249 non-null  object
 4   Rev        316249 non-null  object
 5   thumbsUp   316082 non-null  object
 6   thumbsTot  316086 non-null  object
dtypes: object(7)
memory usage: 17.1+ MB

In [8]:
expert_reviews = pd.read_excel('/Users/juliansmissaert/Desktop/AI METHODS PROJECT/expertReviews.xlsx')
expert_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238973 entries, 0 to 238972
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   url       238973 non-null  object
 1   idvscore  238971 non-null  float64
 2   reviewer  238971 non-null  object
 3   dateP     238971 non-null  object
 4   Rev       238971 non-null  object
dtypes: float64(1), object(4)
memory usage: 9.1+ MB

## <span style="color:pink">EDA</span>

In [7]:
expert_reviews.head()

,url,idvscore,reviewer,dateP,Rev
0,https://www.metacritic.com/movie/bronson,100.0,"""Andrew O'Hehir""",None,'Bronson owes a little or a lot to Kubrick s ...
1,https://www.metacritic.com/movie/bronson,90.0,'A.O. Scott',None,'Bronson invites you to admire its protagonis...
2,https://www.metacritic.com/movie/bronson,90.0,None,None,'Whether it s Peterson/Bronson s more theatri...
3,https://www.metacritic.com/movie/bronson,83.0,'Noel Murray',None,'There are two Bronsons on display here: the ...
4,https://www.metacritic.com/movie/bronson,80.0,'Joshua Rothkopf',None,'Refn has somehow found his way to an authent...

##### julian

In [9]:
user_reviews.head()

,url,idvscore,reviewer,dateP,Rev,thumbsUp,thumbsTot
0,https://www.metacritic.com/movie/bronson,8,'Longbottom94',"'Apr 25, 2013'",'Many have dismissed this film for not explor...,2,2
1,https://www.metacritic.com/movie/bronson,9,'MartinB',"'Oct 13, 2009'",'Anyone who doesn t like this movie simply ju...,0,1
2,https://www.metacritic.com/movie/bronson,10,'Jaakko',"'Jul 19, 2012'",'Not sure what to think at this film at first...,1,1
3,https://www.metacritic.com/movie/bronson,6,'CapoR',"'Oct 13, 2009'",'Nicely portrayed but it lacks the elements t...,0,1
4,https://www.metacritic.com/movie/bronson,8,'OrwellB.',"'Oct 10, 2009'",'Bronson is more than entertainment. It is ar...,0,0